
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ANASAYFA</h1>

<a asp-controller="Lesson" asp-action="Listele" class="btn btn-outline-success" >Dersler</a><br /><br />
<a asp-controller="Student" asp-action="Listele" class="btn btn-outline-success">Ogrenciler</a><br /><br />


