@model TeacherDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>OGRETMEN PROFIL SAYFASI</h1>

@Model.teachername &nbsp;@Model.teachersurename &nbsp;@Model.lessonname
<a asp-area="User" asp-controller="Teacher" asp-action="StudentList" class="btn btn-success">OGRENCI LISTESI</a>
