@model Teacher
@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Yeni Ekle</h1>

@if (ViewBag.TeacherAddError!=null)
{

    <div class="alert alert-danger" role="alert">
        @ViewBag.TeacherAddError
    </div>
}
<form asp-controller="Teacher" asp-action="Ekle" method="post">
    <input type="text" name="TeacherName" placeholder="Ogretmen Ad" /><br /><br />
    <input type="text" name="TeacherSurname" placeholder="Soyad" /><br /><br />
    <select class="form-select" name="LessonID" >
        <option selected>Ders Adi Seciniz</option>
     
        <option value="1">tarih</option>
        <option value="2">ingilizce</option>
        <option value="4">turkce</option>
        <option value="5">matamatik</option>    
    </select><br /><br />
    <input type="submit" value="kaydet" class="btn btn-success" />
</form>

